.all-projects {
    width : 100vw;
    height : 85vw ;
    background-color: white;
}

.projects {
    height : 85%;
    width : 80%;
    display : flex;
    flex-wrap : wrap;
    justify-content : space-around;
    align-items : center;
    margin-left : 10%;
    margin-right : 10%;
    margin-top: 0;
    padding-top : 10vh;
}
