.progress-bar{
    width : 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.progress-bar-container {
    border-radius: 50px;
}

.progress-bar-rtl {
    direction: rtl;
}