.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.footer {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.footer-content {
    width: 100%;
    padding-left: 10%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.arrow-up-wrapper {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.arrow-up {
    position: relative;
    height: 10vh;
    width: 10vh;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: grey inset 0 0 10px 0;
    background-color: rgba(245, 245, 245, 1);
    color: rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-up:hover{
    transform: translateY(-5px);
}

.arrow {
    position: relative;
}

.arrow-up-wrapper:hover .arrow-up {
    cursor: pointer;
}

.copyright {
    width: auto;
    color: rgba(0, 0, 0, 0.63);
    font-family: optima, sans-serif;
    letter-spacing: 1px;
}

.footer-links {
    width: auto;
    padding-right: 10%;
    display: flex;
    list-style-type: none;
}

.footer-links a {
    font-family: optima, sans-serif;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.63);
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: rgba(0, 0, 0, 1);
}

.credit {
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
    text-align: center;
    color: rgba(0, 0, 0, 0.63);
}
