.navbar{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10%;
    justify-content: center;
    height: 70%;
}

.logo-img{
    overflow:  hidden;
    margin-left: 10%;
    height : 70%;
    aspect-ratio: 1 / 1 ;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.logo-img:hover{
    background-color: rgba(255, 255, 255, 0.62);
}

.nav-links{;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.nav-links a{
    font-family: optima ,sans-serif;
    letter-spacing: 1px;
    font-weight: max(150,1rem);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: rgba(255, 255, 255, 0.62);
}
.social-links{
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.social-links a{
    font-family: optima ,sans-serif;
    height : 70%;
    aspect-ratio: 1 / 1;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover{
    color: rgba(255, 255, 255, 0.62);
}


@media (max-width: 768px) {
    .nav-links, .social-links {
        display: none;
    }

    .burger-menu {
        display: block;
    }
}

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }

    .nav-links, .social-links {
        display: flex;
    }
}